@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
	background: linear-gradient(-45deg, #33658A, #376C95, #4C8CBD, #79A9CD );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}